*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    height: 100vh;
    background-image: url(https://i.postimg.cc/7PWZJH02/3553339.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#topic{
   
    color: blue;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    letter-spacing: 9px;
    font-size: 2rem;

    background-color: lightblue;
    height: 200px;
    width: 400px;
    border: rgb(3, 172, 169) solid 9px;
    border-radius: 3px;
}

canvas{
    background-color: white;
    border: gray solid 9px;
    border-radius: 5px;
}

.score{
    color: white;
    letter-spacing: 5px;
}

#start-menu{
    position: absolute;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2rem;
    background-color: black;
    color: white;
    width: 400px;
    height: 400px;

}
/*chat gpt 6line below*/
#game-over{
    position: absolute;
    bottom: 15rem;
    text-align: center;
    padding: 4rem;
    width: 400px;
    height: 200px;


    font-size: 1rem;
    background-color: black;
    color: white;
    border: 12px black;
    border-radius: 8px;
     
    visibility: hidden;

   
}

#game-over h2{
    color: white;
}
